div {
    position: relative;
    box-sizing: border-box;
}

.App {
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.display-word {
    height: 190px;
    border: 1px solid rgba(128, 128, 128, 0.43);
    margin-bottom: 30px;
    padding: 10px;
    display: flex;
}

.periodic-table-tile {
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 120px;
    height: 170px;
    border: 1px solid grey;
    margin-right: 9px;
}

.periodic-table-tile-id {
    font-size: 14px;
    font-weight: 700;
}

.periodic-table-tile-mass {
    text-align: center;
    font-size: 14px;
}

.periodic-table-tile-name {
    text-align: center;
    font-size: 14px;
}

.periodic-table-tile-abr {
    text-align: center;
    font-size: 60px;
}

.normal-text {
    line-height: 170px;
    padding-right: 9px;
    font-size: 30px;
}

